.banner {
    background-image: url('/images/more/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.coffee-banner {
    background-image: url('/images/more/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}